
a{
    text-decoration: none;
}
.navbar-brand{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 25px;
}
.nav-item .nav-link{
    color: #000;
    font-size: 15px;
    transition: 0.5s;
}
.nav-item:hover .nav-link{
    font-size: 16px;
}
.icon-item{
    margin-right: 10px;
}
.btn-search{
    background-color: #000;
    border-radius: 0;
    transition: 0.5s;
}
.fa-search,
.fa-filter{
    color: #fff;
}
.btn-search:hover{
    background-color: transparent;
    border: 0.5px solid #000;
}
.btn-search:hover .fa-search,
.btn-search:hover .fa-filter{
    color: #000;
}
.search-input{
    border-radius: 0;
    font-size: small;
}
.search-input:focus{
    box-shadow: none;
    border: 0.5px solid #000;
}
.d-flex{
    margin-top: 30px;
    margin-bottom: 50px;
}
.nav-title{
    font-size: 16px !important;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.5s;
}
.nav-title:hover{
    font-size: 18px !important;
}
.breadcrumb-item a{
    text-decoration: none;
    color: #000;
}
.breadcrumb-item:hover a{
    font-weight: 500;
}
.list-group-item.list-group-item-action.active{
    background-color: #000;
    border:none;
}
.list-group-item.list-group-item-action{
    border: none;
}
.name-product{
    font-size: 14px;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 0;
    color: #000;
}

.price-product{
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0;
    color: #000;
}
.box-product{
    cursor: pointer;
    transition: 0.5s;
    margin-bottom:20px;
    position: relative;
    overflow: hidden;
}
.box-product .icons{
    display: block ;
    position: absolute;
    top: 0;
    right: -40px;
    z-index: 1;
    transition: 0.5s;

}
.box-product:hover .icons{
   right: 40px;
}
.box-product .icons a{
    display: block;
    width: 35px;
    height: 35px;
    line-height: 33px;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
    margin-top: 10px;
    color: #000;
    font-size: small;
    transition: 0.5s;
}
.box-product .icons a:hover{
    background-color: #000;
    color: #fff;
}
.box-product:hover{
    margin-top: -10px;
}
.footer-item{
    background-color: transparent;
    border: none;
    font-size: small;
    padding: 0;
    cursor: pointer;
}
.footer-item:first-child{
    font-weight: bold;
    text-transform: uppercase;
    margin: 15px 0;
}
.fa-paper-plane{
    color: #fff;
}
.btn-search:hover .fa-paper-plane{
    color: #000 !important;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
.nav.justify-content-center{
    margin: 20px auto;
}
.img-current{
    cursor: pointer;
}
.img-sm{
    width: 52%;
    margin-bottom: 10px;
    cursor: pointer;
}

.product-name{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}
.product-price{
    font-size: small;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 25px;
}
label{
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 8px;
}

.add-cart-btn{
    border: 0.5px solid #000 !important;
    background-color: #000;
    width: fit-content;
    color: #fff;
    margin-bottom: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
}

.add-cart-btn:hover{
    background-color: #fff;
    color: #000;
}
.content{
    font-size: small;
    text-align: justify;
}
h4{
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

hr{
    margin: 30px 0;
}
.main-menu li{
    margin-right: 50px;
}

.logo{
    margin: 50px auto;
}
.logo h2{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}
.container-login{
    width: 35%;
}
.form-group{
    margin: 20px auto;
}
.btn-lady{
    background-color: #000;
    color: #fff;
    width: 100%;
    transition: 0.5s;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 10px 0;
}
.btn-lady:hover{
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}
.reset-password{
    color: #000;
    margin-bottom: 20px;
    font-size: small;
    font-weight: 700;
}
.reset-password:hover{
    color:#000;
    border-bottom: 1px solid #000;
}
.blockquote-desc{
    letter-spacing: 1px;
    color: #555;
}
.sidebar-heading span{
    text-transform: uppercase;
    letter-spacing: 1px;
}
.setting-row{
    margin: 50px auto;
}
.btn-add{
    width: fit-content;
    font-size: small;
}
.nav-item.danhmuc-menu{
    visibility: visible;
}
.nav-item.danhmuc-item:focus .nav-item.danhmuc-menu{
    visibility: hidden;
}
.d-md-block.sidebar{
    background-color: #000;
}
.sidebar-heading.web:hover{
    background-color: #555;
}
.nav-link.text-light:hover{
    background-color: #555;
}
table{
    font-size: small;
    margin-bottom: 50px !important;
}

/* Trang chủ */
.category{
    margin: 50px auto;
}
.category .btn{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.category-box{
    transition: 0.5s;
    cursor: pointer;
}
.category-box:hover{
    margin-top: -10px;
}
/*Ipad dọc(768 x 1024)*/
@media screen and (max-width: 768px){
    .sidebar{
        display: none;
    }
    .col-9{
        width: 100%;
    }
    .col-sm-4{
        width: 100%;
    }
    .col-sm-2{
        width: 100%;
    }
    .img-sm{
        width: fit-content;
    }
    .img-sm:first-child{
        margin-top: 10px;
    }
    .details-box{
        margin-left: 10px;
        width: fit-content;
    }
    .container-login{
        width: 50%;
    }
    .main-menu li{
        margin-right: 10px;
    }
    .main-menu li a{
        font-size: 15px !important;
    }
}
/*Tablet nhỏ(480 x 640)*/
@media screen and (max-width: 480px){
    .sidebar{
        display: none;
        
    }
    .col-9{
        width: 100%;
    }
    .img-sm{
        width: fit-content;
    }
    .img-sm:first-child{
        margin-top: 10px;
    }
    .details-box{
        margin-left: 10px;
        width: fit-content;
    }
    .container-login{
        width: 100%;
    }
    .main-menu li{
        margin-right: 10px;
    }
    .main-menu li a{
        font-size: 15px !important;
    }
    
}
/*Iphone(480 x 640)*/
@media screen and (max-width: 320px){
    .sidebar{
        display: none;
    }
    .col-9{
        width: 100%;
    }
    .img-sm{
        width: fit-content;
    }
    .img-sm:first-child{
        margin-top: 10px;
    }
    .details-box{
        margin-left: 10px;
        width: fit-content;
    }
    .main-menu li{
        margin-right: 10px;
    }
    .main-menu li a{
        font-size: 15px !important;
    }
}
/*Smart phone nhỏ*/
@media screen and (max-width: 240px){
    .sidebar{
        display: none;
    }
    .col-9{
        width: 100%;
    }
    .img-sm{
        width: fit-content;
    }
    .img-sm:first-child{
        margin-top: 10px;
    }
    .details-box{
        margin-left: 10px;
        width: fit-content;
    }
    .main-menu li{
        margin-right: 10px;
    }
    .main-menu li a{
        font-size: 15px !important;
    }
}

